{% extends 'base.html' %} 
{% load widget_tweaks %}
{% block content %}

<div class="col-md-12">
    <div class="contact">
        <form method="POST" action="{% url 'forgot_password' %}">
        {% csrf_token %}
        <div class="col-sm-12">
                {% render_field form.GivenUserNum class="contactus" placeholder="Please enter your User ID" %}
            </div>
            
            <div class="col-sm-12">
                {% render_field form.Name class="contactus" placeholder="Please enter your name" %}
            </div>

            <div class="col-sm-12">
                {% render_field form.City class="contactus" placeholder="Please enter your city" %}
            </div>
            
            <div class="col-sm-12">
                {% render_field form.Password type="password" class="contactus" placeholder="New Password" %}
            </div>

            <div class="col-sm-12">
                {% render_field form.ConformPassword type="password" class="contactus" placeholder="Conform New Password" %}
            </div>
        
        <button type="submit" class="btn btn-primary">Change Password</button>
        </form>
    </div>
</div>
{% endblock %}

