{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    <h1>join today!</h1>
    <br><br>

    <form method="POST" action="{% url 'join_owner' %}">
    {% csrf_token %}
    
    <div class="mb-3">
        {% render_field form.UserName class="form-control" placeholder="UserName" %}
    </div>

    <div class="mb-3">
        {% render_field form.Password type="password" class="form-control" placeholder="Password" %}
    </div>

    <div class="mb-3">
        {% render_field form.ConformPassword type="password" class="form-control" placeholder="Conform Password" %}
    </div>

    <div class="mb-3">
        {% render_field form.Name class="form-control" placeholder="Name" %}
    </div>
    
    <div class="mb-3">
        <input type="int" class="form-control"  aria-describedby="emailHelp"
        placeholder="Phone_Number" name="Phone_Number">
    </div>

    <div class="mb-3">
        {% render_field form.City class="form-control" placeholder="City" %}
    </div>    

    <div class="mb-3">
        {% render_field form.PinCode class="form-control" placeholder="PinCode" %}
    </div>
    
    <div class="mb-3">
        {% render_field form.Acres class="form-control" placeholder="Acres" %}
    </div>
    
    <div class="mb-3">
        {% render_field form.Rent class="form-control" placeholder="Rent" %}
    </div>

    <div class="mb-3">
        {% render_field form.Share class="form-control" placeholder="Share" %}
    </div>

    <div class="mb-3">
        {% render_field form.R_or_S class="form-control" placeholder="R_or_S" %}
    </div>

    <div class="mb-3">
        {% render_field form.Availability class="form-control" placeholder="Availability" %}
    </div>

        
    <button type="submit" class="btn btn-primary">join</button>
    </form>

{% endblock %}