{% extends 'base.html' %} 
{% load widget_tweaks %}
{% block content %}
{% load static %}




<img src="{% static 'images/adv2.jpg' %}" alt="Workplace" usemap="#workmap" width="1100" height="125">

<map name="workmap">
  <area shape="rect" coords="0,0,1100,125" alt="Computer" href="https://freshfarmer.in/">
</map>

<br>
<h1 style="color: rgb(16, 16, 190);">Organic farming goals:</h1>
    
<h1> A sufficiently high level of productivity . Maintaining and increasing the long-term fertility, biological activity of the soil, natural diversity and agro-biodiversity .Maximum possible use of renewable resources .Creation of a harmonic balance between crops and animal husbandry. Creation  of  conditions  in  which  animals  are  kept  that  correspond  to  their  natural behaviour.
 <br>
Summary: 

Finally Organic farming is the natural way of farming which not only increases production  but also does not harm the environment and provides chemical free food to eat, which does not harm health. </h1>>

--------------------------------------------------------------------

<h1 style="color: rgb(16, 16, 190);">जैविक खेती के लक्ष्य:</h1>
    <br>
<h1> उत्पादकता का पर्याप्त उच्च स्तर। लंबे समय तक उर्वरता, मिट्टी की जैविक गतिविधि, प्राकृतिक विविधता और कृषि-जैव विविधता को बनाए रखना और बढ़ाना। अक्षय संसाधनों का अधिकतम संभव उपयोग। फसलों और पशुपालन के बीच एक हार्मोनिक संतुलन का निर्माण। ऐसी परिस्थितियों का निर्माण जिसमें जानवरों को रखा जाता है जो उनके प्राकृतिक व्यवहार के अनुरूप होते हैं।
 <br>
सारांश:

अंत में जैविक खेती खेती का प्राकृतिक तरीका है जो न केवल उत्पादन बढ़ाता है बल्कि पर्यावरण को भी नुकसान नहीं पहुंचाता है और खाने के लिए रासायनिक मुक्त भोजन प्रदान करता है, जिससे स्वास्थ्य को नुकसान नहीं होता है।</h1>>


-------------------------------------------------------------------

<h1 style="color: rgb(16, 16, 190);">సేంద్రీయ వ్యవసాయ లక్ష్యాలు:</h1>
    <br>
<h1> తగినంత ఉత్పాదకత. దీర్ఘకాలిక సంతానోత్పత్తి, నేల యొక్క జీవసంబంధ కార్యకలాపాలు, సహజ వైవిధ్యం మరియు వ్యవసాయ-జీవవైవిధ్యం. జంతువులను వారి సహజ ప్రవర్తనకు అనుగుణంగా ఉంచే పరిస్థితుల సృష్టి.
<br>
సారాంశం:

చివరగా సేంద్రీయ వ్యవసాయం అనేది వ్యవసాయం యొక్క సహజ మార్గం, ఇది ఉత్పత్తిని పెంచడమే కాక పర్యావరణానికి హాని కలిగించదు మరియు తినడానికి రసాయన రహిత ఆహారాన్ని అందిస్తుంది, ఇది ఆరోగ్యానికి హాని కలిగించదు.</h1>>

<img src="{% static 'images/adv4.jpg' %}"  usemap="#amarnath" width="1100" height="125">

<map name="amarnath">
  <area shape="rect" coords="0,0,1100,125" alt="Computer" href="https://www.amazon.in/Amaranth-Seeds/s?k=Amaranth+Seeds">
</map>



{% endblock %}
