{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
{% load static %}

<img src="{% static 'images/adv2.jpg' %}" alt="Workplace" usemap="#workmap" width="1100" height="125">

<map name="workmap">
  <area shape="rect" coords="0,0,1100,125" alt="Computer" href="https://freshfarmer.in/">
</map>

<h1 style="color: rgb(16, 16, 190);">Organic farming methods and techniques: </h1> 
<h1>
      <h1 style="color: rgb(219, 13, 65);"> Crop diversity : </h1>   
      
   <h1>    Organic farming encourages crop diversity, according to which many crops are produced in one place.
       <br>
<h1 style="color: rgb(219, 13, 65);">Soil management : </h1>    
<h1>  Soil management is an important part of land management, using it we can increase the quality of land. To do this, we need to focus on the types of soil and the characteristics of the soil. Soil management is the primary      technique of organic farming in India. After cultivation, soil loses its nutrients, and its fertilizer goes down. The process in which soil is recharging with all the necessary nutrients called soil management. Organic farming uses      natural ways to increase the fertility of the soil. It uses bacteria, available in animal waste. The bacteria helps in making the soil more productive and fertile. 
      <br>
 <h1 style="color: rgb(219, 13, 65);">Weed management : </h1>    
 <h1>  Weed means unnecessary vegetation that grows automatically between crops or plants and uses the nutrition that crops get themselves, which is also disposed of in organic farming.There are two techniques which give a       solution to the weed. 
                                    1) Moving or cutting:– In this process, cut the weed. 
                                    2) Mulching:– This is a process, where farmers use a plastic film or plant to residue on the soil’s surface to block the weed’s growth. 
                                    <br>
 <h1 style="color: rgb(219, 13, 65);">  Crop rotation : </h1>  
 <h1>   A technique to grow various kinds of crops in the same area, according to different seasons, in a sequential manner.
      <br>
<h1 style="color: rgb(219, 13, 65);"> Green manure : </h1>  
<h1>  Refers to the dying plants that are uprooted and stuffed into the soil in order to make them act as a nutrient for the soil to increase its quality. 
      <br>
<h1 style="color: rgb(219, 13, 65);">Biological pest control: </h1>    
<h1>   A method in which living organisms are used to control pests, without or with limited use of chemicals. Agricultural farms contain useful and harmful organisms that affect farms. To save crops and soil, the growth of organisms      needs to be controlled. In this process, natural or fewer chemicals, herbicides, and pesticides used to protect soil and crops. Proper maintenance is required throughout the area to control other organisms.
      <br>
 <h1 style="color: rgb(219, 13, 65);"> Compost :</h1>  
 <h1>   Highly rich in nutrients, this is a recycled organic matter used as a fertilizer in the agricultural farms.
      <br>
<h1 style="color: rgb(219, 13, 65);"> Livestock : </h1>    
<h1>  Organic farming instigates domestic animals use to increase the sustainability of the farm.</h1>>

--------------------------------------------------------------------------------------------------------------------------------------

<h1 style="color: rgb(16, 16, 190);">जैविक खेती के तरीके और तकनीक: </h1>
      <h1>

            <h1 style="color: rgb(219, 13, 65);">फसल विविधता:</h1>           
 
  <h1>    जैविक खेती से फसल की विविधता को बढ़ावा मिलता है, जिसके अनुसार एक ही स्थान पर कई फसलों का उत्पादन होता है।
       <br>
<h1 style="color: rgb(219, 13, 65);"> मिट्टी प्रबंधन: </h1> 
<h1>  मृदा प्रबंधन भूमि प्रबंधन का एक महत्वपूर्ण हिस्सा है, इसका उपयोग करके हम भूमि की गुणवत्ता बढ़ा सकते हैं। ऐसा करने के लिए, हमें मिट्टी के प्रकार और मिट्टी की विशेषताओं पर ध्यान देने की आवश्यकता है। मृदा प्रबंधन भारत में जैविक खेती की प्राथमिक तकनीक है। खेती के बाद, मिट्टी अपने पोषक तत्वों को खो देती है, और इसकी खाद नीचे चली जाती है। वह प्रक्रिया जिसमें मिट्टी सभी आवश्यक पोषक तत्वों से रिचार्ज होती है जिसे मृदा प्रबंधन कहा जाता है। जैविक खेती मिट्टी की उर्वरता बढ़ाने के लिए प्राकृतिक तरीकों का उपयोग करती है। यह जानवरों के अपशिष्ट में उपलब्ध बैक्टीरिया का उपयोग करता है। बैक्टीरिया मिट्टी को अधिक उत्पादक और उपजाऊ बनाने में मदद करता है।
      <br>
<h1 style="color: rgb(219, 13, 65);"> खरपतवार प्रबंधन: </h1> 
<h1>  खरपतवार का अर्थ है अनावश्यक फसलें जो फसलों या पौधों के बीच अपने आप उग जाती हैं और फसलों को मिलने वाले पोषण का उपयोग करती हैं, जो कि जैविक खेती में भी निपटाया जाता है। यह दो तकनीकें हैं जो खरपतवार का समाधान देती हैं।
                                    1) हिलना या काटना: - इस प्रक्रिया में खरपतवार को काटते हैं।
                                    2) मल्चिंग: - यह एक प्रक्रिया है, जहां किसान खरपतवार की वृद्धि को रोकने के लिए मिट्टी की सतह पर अवशेषों के लिए प्लास्टिक की फिल्म या पौधे का उपयोग करते हैं।
                                    <br>
<h1 style="color: rgb(219, 13, 65);">फसल रोटेशन: </h1>  
<h1>  एक ही क्षेत्र में विभिन्न मौसमों के अनुसार, क्रमबद्ध तरीके से, विभिन्न प्रकार की फसलों को उगाने की तकनीक।
      <br>
<h1 style="color: rgb(219, 13, 65);">हरी खाद: </h1>  
<h1>  मिट्टी में उखाड़े गए पौधों को संदर्भित करता है और इसकी गुणवत्ता बढ़ाने के लिए मिट्टी के लिए एक पोषक तत्व के रूप में कार्य करता है।
      <br>
<h1 style="color: rgb(219, 13, 65);"> जैविक कीट नियंत्रण: </h1> 
<h1>    एक विधि जिसमें जीवित जीवों का उपयोग रसायनों के सीमित उपयोग के बिना, कीटों को नियंत्रित करने के लिए किया जाता है। कृषि खेतों में उपयोगी और हानिकारक जीव होते हैं जो खेतों को प्रभावित करते हैं। फसलों और मिट्टी को बचाने के लिए, जीवों की वृद्धि को नियंत्रित करने की आवश्यकता है। इस प्रक्रिया में, मिट्टी या फसलों की सुरक्षा के लिए प्राकृतिक या कम रसायनों, जड़ी-बूटियों और कीटनाशकों का उपयोग किया जाता है। अन्य जीवों को नियंत्रित करने के लिए पूरे क्षेत्र में उचित रखरखाव की आवश्यकता होती है।
      <br>
<h1 style="color: rgb(219, 13, 65);"> खाद: </h1> 
<h1>  पोषक तत्वों से भरपूर, यह एक पुनर्नवीनीकरण कार्बनिक पदार्थ है जिसका उपयोग कृषि फार्मों में उर्वरक के रूप में किया जाता है।
      <br>
<h1 style="color: rgb(219, 13, 65);">पशुधन: </h1>  
<h1>  जैविक खेती से खेत की स्थिरता बढ़ाने के लिए घरेलू पशुओं का उपयोग होता है।</h1>>

---------------------------------------------------------------------------------------------------------------------------------------

<h1 style="color: rgb(16, 16, 190);">సేంద్రీయ వ్యవసాయ పద్ధతులు మరియు పద్ధతులు: </h1>
 <h1 style="color: rgb(219, 13, 65);">పంట వైవిధ్యం: </h1>
<h1> సేంద్రీయ వ్యవసాయం పంట వైవిధ్యాన్ని ప్రోత్సహిస్తుంది, దీని ప్రకారం ఒకే చోట అనేక పంటలు ఉత్పత్తి అవుతాయి.
       <br>
       <h1 style="color: rgb(219, 13, 65);">నేల నిర్వహణ: </h1>       
 
       <h1>   భూ నిర్వహణలో నేల నిర్వహణ ఒక ముఖ్యమైన భాగం, దానిని ఉపయోగించడం ద్వారా మనం భూమి నాణ్యతను పెంచుకోవచ్చు. ఇది చేయుటకు, మనం నేల రకాలు మరియు నేల లక్షణాలపై దృష్టి పెట్టాలి. భారతదేశంలో సేంద్రీయ వ్యవసాయం యొక్క ప్రాధమిక సాంకేతికత నేల నిర్వహణ. సాగు తరువాత, నేల దాని పోషకాలను కోల్పోతుంది మరియు దాని ఎరువులు తగ్గిపోతాయి. మట్టి నిర్వహణ అని పిలువబడే అన్ని అవసరమైన పోషకాలతో మట్టి రీఛార్జ్ చేసే ప్రక్రియ. సేంద్రీయ వ్యవసాయం నేల యొక్క సంతానోత్పత్తిని పెంచడానికి సహజ మార్గాలను ఉపయోగిస్తుంది. ఇది జంతువుల వ్యర్థాలలో లభించే బ్యాక్టీరియాను ఉపయోగిస్తుంది. మట్టిని మరింత ఉత్పాదకత మరియు సారవంతమైనదిగా చేయడానికి బ్యాక్టీరియా సహాయపడుతుంది.
      <br>

<h1 style="color: rgb(219, 13, 65);">కలుపు నిర్వహణ: </h1> 
<h1>   కలుపు అంటే అనవసరమైన వృక్షసంపద అంటే పంటలు లేదా మొక్కల మధ్య స్వయంచాలకంగా పెరుగుతుంది మరియు పంటలు తమను తాము పొందే పోషకాహారాన్ని ఉపయోగిస్తాయి, ఇది సేంద్రీయ వ్యవసాయంలో కూడా పారవేయబడుతుంది. కలుపుకు పరిష్కారం ఇచ్చే రెండు పద్ధతులు ఉన్నాయి.
                                    1) కదిలే లేదా కత్తిరించడం: - ఈ ప్రక్రియలో, కలుపును కత్తిరించండి.
                                    2) కప్పడం: - ఇది ఒక ప్రక్రియ, ఇక్కడ రైతులు కలుపు పెరుగుదలను నిరోధించడానికి నేల ఉపరితలంపై అవశేషాలు వేయడానికి ప్లాస్టిక్ ఫిల్మ్ లేదా మొక్కను ఉపయోగిస్తారు.
<br>
 <h1 style="color: rgb(219, 13, 65);">పంట భ్రమణం: </h1>
 <h1>    ఒకే ప్రాంతంలో, వివిధ asons తువుల ప్రకారం, వరుస పద్ధతిలో, వివిధ రకాల పంటలను పండించే సాంకేతికత.
      <br>
 <h1 style="color: rgb(219, 13, 65);">ఆకుపచ్చ ఎరువు: </h1>
 <h1>    నేల దాని నాణ్యతను పెంచడానికి పోషక పదార్థంగా పనిచేసేలా వాటిని వేరుచేసి మట్టిలో నింపిన చనిపోతున్న మొక్కలను సూచిస్తుంది.
      <br>
 <h1 style="color: rgb(219, 13, 65);">జీవ తెగులు నియంత్రణ: </h1>
 <h1>    రసాయనాల పరిమిత ఉపయోగం లేకుండా లేదా లేకుండా తెగుళ్ళను నియంత్రించడానికి జీవులను ఉపయోగించే పద్ధతి. వ్యవసాయ క్షేత్రాలలో పొలాలను ప్రభావితం చేసే ఉపయోగకరమైన మరియు హానికరమైన జీవులు ఉంటాయి. పంటలు మరియు మట్టిని కాపాడటానికి, జీవుల పెరుగుదలను నియంత్రించాల్సిన అవసరం ఉంది. ఈ ప్రక్రియలో, నేల లేదా పంటలను రక్షించడానికి ఉపయోగించే సహజ లేదా తక్కువ రసాయనాలు, కలుపు సంహారకాలు మరియు పురుగుమందులు. ఇతర జీవులను నియంత్రించడానికి ఈ ప్రాంతం అంతటా సరైన నిర్వహణ అవసరం.
      <br>
 <h1 style="color: rgb(219, 13, 65);">కంపోస్ట్:</h1>
 <h1>    పోషకాలతో అధికంగా ఉన్న ఇది వ్యవసాయ క్షేత్రాలలో ఎరువుగా ఉపయోగించే రీసైకిల్ సేంద్రియ పదార్థం.
      <br>
<h1 style="color: rgb(219, 13, 65);">పశువులు: </h1> 
    <h1>  సేంద్రీయ వ్యవసాయం వ్యవసాయ సుస్థిరతను పెంచడానికి దేశీయ జంతువుల వాడకాన్ని ప్రేరేపిస్తుంది.</h1>>

      <br>
      
<img src="{% static 'images/adv4.jpg' %}"  usemap="#amarnath" width="1100" height="125">

<map name="amarnath">
<area shape="rect" coords="0,0,1100,125" alt="Computer" href="https://www.amazon.in/Amaranth-Seeds/s?k=Amaranth+Seeds">
 </map>
      
{% endblock %}