{% extends 'base.html' %} 
{% load widget_tweaks %}
{% block content %}
{% load static %}
<img src="{% static 'images/adv2.jpg' %}" alt="Workplace" usemap="#workmap" width="1100" height="125">

<map name="workmap">
  <area shape="rect" coords="0,0,1100,125" alt="Computer" href="https://freshfarmer.in/">
</map>

<h1 style="color: rgb(224, 56, 14)">What is Organic Farming:

The method of cultivation in which crops are produced without using chemical fertilizers and pesticides or using less is called organic farming. Its main objective is to maintain the fertilizer power of the soil as well as to increase the production of crops.

Main motive of Organic Farming:

The main motive of organic farming is to prevent the destruction of soil fertilizer power and to prevent the use of chemical items in food items that we use every day. To provide nutrients to crops which are insoluble in soil and crops and are effective in microorganisms. Leaking using organic nitrogen and by organic manure and organic matter. Prevent spraying of medicines for weeds, crop diseases and kit destruction so that they do not harm health. Organic farming also takes care of crops as well as animal care, including their habitat, their maintenance, their feeding, etc. The main objective of organic farming is to protect the impact on its environment as well as protect wild animals and protect natural life.

Importance of organic farming:

Adoption of organic farming increases the fertility of the land as well as increases the irrigation gap for crops. If the farmer does not use chemical fertilizers in farming and uses organic manure, the cost of planting for his crop is also reduced. The production of farmer's crops increases, which also benefits him more. The use of organic manure also improves the quality of land. The use of this method increases the water holding capacity of the land and also reduces the evaporation of water. Nowadays, our environment is also becoming very polluted and our environment is also benefitted greatly by the use of organic methods for farming.

Organic farming benefits to the nature and environment:

The water level of the land not only increases but also reduces the pollution caused by soil, food and water in the ground by preventing the use of chemical items. Using animal dung and waste to make manure reduces pollution and reduces mosquitoes and other dirt caused by it, thereby preventing diseases.
Organic farming increases crop production, which also increases the income of farmers. In an agrarian country like India, it is very important that farmers use organic methods of farming, which will increase the production of crops. This will not only solve the problem of food supply in the world but also improve the physical level of farmers. Most of the places in India are based on agriculture and nowadays rainfall is not up to the time , which also harms farming| If organic farming is adopted by the farmers, this problem can also be overcome.</h1>>

-----------------------------------------------------------------------------------------------------------------------

<h1 style="color: white;">जैविक खेती क्या है:

खेती की विधि जिसमें रासायनिक उर्वरकों और कीटनाशकों का उपयोग किए बिना या कम उपयोग करके फसलों का उत्पादन किया जाता है उसे जैविक खेती कहा जाता है। इसका मुख्य उद्देश्य मिट्टी की उर्वरक शक्ति को बनाए रखने के साथ-साथ फसलों का उत्पादन बढ़ाना है।

जैविक खेती का मुख्य उद्देश्य:

जैविक खेती का मुख्य उद्देश्य मिट्टी की उर्वरक शक्ति के विनाश को रोकना और खाद्य पदार्थों में रासायनिक वस्तुओं के उपयोग को रोकना है जो हम हर दिन उपयोग करते हैं। उन फसलों को पोषक तत्व प्रदान करना जो मिट्टी और फसलों में अघुलनशील हैं और सूक्ष्मजीवों में प्रभावी हैं। जैविक नाइट्रोजन का उपयोग करके और जैविक खाद और कार्बनिक पदार्थों द्वारा रिसाव। खरपतवारों, फसलों के रोगों और किट के विनाश के लिए दवाओं का छिड़काव रोकें ताकि वे स्वास्थ्य को नुकसान न पहुँचाएँ। जैविक खेती फसलों के साथ-साथ जानवरों की देखभाल, उनके आवास, उनके रख-रखाव, उनके भरण-पोषण आदि का भी ध्यान रखती है। जैविक खेती का मुख्य उद्देश्य इसके पर्यावरण पर प्रभाव की रक्षा के साथ-साथ जंगली जानवरों की रक्षा करना और प्राकृतिक जीवन की रक्षा करना है।

जैविक खेती का महत्व:

जैविक खेती को अपनाने से भूमि की उर्वरा शक्ति बढ़ती है और साथ ही फसलों के लिए सिंचाई का अंतर भी बढ़ता है। यदि किसान खेती में रासायनिक उर्वरकों का उपयोग नहीं करता है और जैविक खाद का उपयोग करता है, तो उसकी फसल के लिए रोपण की लागत भी कम हो जाती है। किसान की फसलों का उत्पादन बढ़ता है, जिससे उसे अधिक लाभ होता है। जैविक खाद के उपयोग से भूमि की गुणवत्ता में भी सुधार होता है। इस विधि के उपयोग से भूमि की जल धारण क्षमता बढ़ जाती है और पानी का वाष्पीकरण भी कम हो जाता है। आजकल हमारा पर्यावरण भी बहुत प्रदूषित हो रहा है और खेती के लिए जैविक तरीकों के इस्तेमाल से हमारे पर्यावरण को भी बहुत फायदा हो रहा है।

जैविक खेती से प्रकृति और पर्यावरण को लाभ:

भूमि का जल स्तर न केवल बढ़ता है बल्कि रासायनिक वस्तुओं के उपयोग को रोककर भूमि में मिट्टी, भोजन और पानी से होने वाले प्रदूषण को भी कम करता है। खाद बनाने के लिए जानवरों के गोबर और कचरे का उपयोग प्रदूषण को कम करता है और इससे होने वाले मच्छरों और अन्य गंदगी को कम करता है, जिससे बीमारियों को रोका जा सकता है।
जैविक खेती से फसल उत्पादन बढ़ता है, जिससे किसानों की आय भी बढ़ती है। भारत जैसे कृषि प्रधान देश में, यह बहुत महत्वपूर्ण है कि किसान खेती के जैविक तरीकों का उपयोग करें, जिससे फसलों का उत्पादन बढ़ेगा। इससे न केवल दुनिया में खाद्य आपूर्ति की समस्या का समाधान होगा बल्कि किसानों के भौतिक स्तर में भी सुधार होगा। भारत में अधिकांश स्थान कृषि पर आधारित हैं और आजकल वर्षा समय तक नहीं होती है, जिससे खेती भी होती है अगर किसानों द्वारा जैविक खेती को अपनाया जाए तो यह समस्या भी दूर हो सकती है।</h1>

----------------------------------------------------------------------------------------------------------------------------------

<h1 style="color:green;">సేంద్రీయ వ్యవసాయం అంటే ఏమిటి:

రసాయన ఎరువులు మరియు పురుగుమందులను ఉపయోగించకుండా లేదా తక్కువ వాడకుండా పంటలు పండించే సాగు పద్ధతిని సేంద్రీయ వ్యవసాయం అంటారు. నేల యొక్క ఎరువుల శక్తిని అలాగే అలాగే పంటల ఉత్పత్తిని పెంచడం దీని ప్రధాన లక్ష్యం.

సేంద్రీయ వ్యవసాయం యొక్క ప్రధాన ఉద్దేశ్యం:

సేంద్రీయ వ్యవసాయం యొక్క ముఖ్య ఉద్దేశ్యం నేల ఎరువుల శక్తిని నాశనం చేయకుండా నిరోధించడం మరియు మనం ప్రతిరోజూ ఉపయోగించే ఆహార పదార్థాలలో రసాయన పదార్థాల వాడకాన్ని నిరోధించడం. నేల మరియు పంటలలో కరగని మరియు సూక్ష్మజీవులలో ప్రభావవంతంగా ఉండే పంటలకు పోషకాలను అందించడం. సేంద్రీయ నత్రజనిని ఉపయోగించి మరియు సేంద్రియ ఎరువు మరియు సేంద్రియ పదార్థాల ద్వారా లీక్. కలుపు మొక్కలు, పంట వ్యాధులు మరియు కిట్ నాశనం కోసం మందులు చల్లడం నివారించండి, తద్వారా అవి ఆరోగ్యానికి హాని కలిగించవు. సేంద్రీయ వ్యవసాయం పంటలను అలాగే వాటి ఆవాసాలు, వాటి నిర్వహణ, ఆహారం ఇవ్వడం వంటి వాటితో పాటు జంతువుల సంరక్షణను కూడా తీసుకుంటుంది. సేంద్రీయ వ్యవసాయం యొక్క ప్రధాన లక్ష్యం దాని పర్యావరణంపై ప్రభావాన్ని రక్షించడంతో పాటు అడవి జంతువులను రక్షించడం మరియు సహజ జీవితాన్ని రక్షించడం.

సేంద్రీయ వ్యవసాయం యొక్క ప్రాముఖ్యత:

సేంద్రీయ వ్యవసాయాన్ని స్వీకరించడం భూమి యొక్క సంతానోత్పత్తిని పెంచుతుంది, అలాగే పంటలకు నీటిపారుదల అంతరాన్ని పెంచుతుంది. రైతు వ్యవసాయంలో రసాయన ఎరువులు ఉపయోగించకపోతే మరియు సేంద్రియ ఎరువును ఉపయోగిస్తే, తన పంటకు నాటడానికి అయ్యే ఖర్చు కూడా తగ్గుతుంది. రైతు పంటల ఉత్పత్తి పెరుగుతుంది, ఇది అతనికి మరింత ప్రయోజనం చేకూరుస్తుంది. సేంద్రియ ఎరువు వాడకం భూమి నాణ్యతను కూడా మెరుగుపరుస్తుంది. ఈ పద్ధతి యొక్క ఉపయోగం భూమి యొక్క నీటి నిల్వ సామర్థ్యాన్ని పెంచుతుంది మరియు నీటి బాష్పీభవనాన్ని కూడా తగ్గిస్తుంది. ఈ రోజుల్లో, మన పర్యావరణం కూడా చాలా కలుషితంగా మారుతోంది మరియు వ్యవసాయానికి సేంద్రీయ పద్ధతులను ఉపయోగించడం ద్వారా మన పర్యావరణం కూడా ఎంతో ప్రయోజనం పొందుతోంది.

సేంద్రీయ వ్యవసాయం ప్రకృతి మరియు పర్యావరణానికి ప్రయోజనాలు:

భూమి యొక్క నీటి మట్టం పెరగడమే కాక, రసాయన పదార్థాల వాడకాన్ని నిరోధించడం ద్వారా భూమిలోని నేల, ఆహారం మరియు నీటి వల్ల కలిగే కాలుష్యాన్ని తగ్గిస్తుంది. ఎరువు చేయడానికి జంతువుల పేడ మరియు వ్యర్థాలను ఉపయోగించడం వల్ల కాలుష్యం తగ్గుతుంది మరియు దోమలు మరియు దాని వలన కలిగే ఇతర ధూళిని తగ్గిస్తుంది, తద్వారా వ్యాధులు రాకుండా ఉంటాయి.
సేంద్రీయ వ్యవసాయం పంట ఉత్పత్తిని పెంచుతుంది, ఇది రైతుల ఆదాయాన్ని కూడా పెంచుతుంది. భారతదేశం వంటి వ్యవసాయ దేశంలో, రైతులు సేంద్రీయ వ్యవసాయ పద్ధతులను ఉపయోగించడం చాలా ముఖ్యం, ఇది పంటల ఉత్పత్తిని పెంచుతుంది. ఇది ప్రపంచంలోని ఆహార సరఫరా సమస్యను పరిష్కరించడమే కాక, రైతుల శారీరక స్థాయిని మెరుగుపరుస్తుంది. భారతదేశంలో చాలా ప్రదేశాలు వ్యవసాయం మీద ఆధారపడి ఉన్నాయి మరియు ఈ రోజుల్లో వర్షపాతం సమయం వరకు లేదు, ఇది వ్యవసాయానికి కూడా హాని చేస్తుంది | సేంద్రీయ వ్యవసాయాన్ని రైతులు అవలంబిస్తే, ఈ సమస్యను కూడా అధిగమించవచ్చు.</h1>>

<img src="{% static 'images/adv4.jpg' %}"  usemap="#amarnath" width="1100" height="125">

<map name="amarnath">
<area shape="rect" coords="0,0,1100,125" alt="Computer" href="https://www.amazon.in/Amaranth-Seeds/s?k=Amaranth+Seeds">
 </map>
{% endblock %}

